[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
MemoryAccounting=true
MemoryLimit=2G
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
User=prometheus
Restart=on-failure
RestartSec=5
ExecStart=/app/prometheus/prometheus --config.file=/app/prometheus/prometheus.yml --storage.tsdb.path=/app/prometheus/data --web.enable-admin-api

[Install]
WantedBy=multi-user.target
